/*  your css code here. If applicable */
.container {
            width: 1100px;
            margin: 0 auto;
        }
        
        .imageContainer {
            text-align: center;
        }
        
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }
        
        table td {
            padding: 10px;
            border: 1px solid #000;
            text-align: center;
        }
        
        img {
            max-width: 100%;
        }